
@model IEnumerable<MVC_Application.Models.Customer>


<h2>Customers in Germany</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>CustomerID</th>
        <th>CompanyName</th>
        <th>ContactName</th>
        <th>City</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CustomerID</td>
            <td>@c.CompanyName</td>
            <td>@c.ContactName</td>
            <td>@c.City</td>
        </tr>
    }
</table>
